//main colors

$color-dark-bg: #00000f;
$color-accent: #ff0111;
$color-light: #fff4f1;


//size values

$body-max-width: 1280px;
$body-resp-width: 90vw;

$movie-card-width: 300px;
$movie-card-height: 300px;

$arrow-width: 50px;
