@use 'variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
  background-color: variables.$color-dark-bg;
}

body {
  background-color: variables.$color-dark-bg;
  color: variables.$color-accent;
  max-width: variables.$body-max-width;
  width: variables.$body-resp-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.site-header {
  display: flex;
  height: 80px;
  justify-content: space-between;
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
      padding: 0;
      display: flex;
      li {
        text-decoration: none;
        list-style: none;
        padding: 1rem;
      }
    }
  }

  &__logo {
    img {
      height: 100%;
      width: auto;
    }
  }

}

.best-movie-pres {
  margin: 10px auto;
  width: 95%;
  height: 250px;
  overflow: hidden;
  position: relative;
  &__img-back{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    width: 100%;
    -webkit-filter: blur(12px);
    filter: blur(12px);
  }
  &__img-thumb{
    z-index: 1;
    position: absolute;
    right: 10vw;
    top: 50%;
    transform: translate( -50%, -50%);
    height: 95%;
    width: auto;
  }
  &__title{
    position: absolute;
    top: 30px;
    z-index: 10;
    margin-left: 50px;
    background-color: #33333355;
    color: #fff;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    line-height: 30px;
  }
  &__abstract{
    position: absolute;
    color: antiquewhite;
    bottom: 20px;
    width: 40%;
    z-index: 10;
    margin-left: 70px;
    background-color: #2A2A2A99;
    padding: 10px;
    background-blend-mode: lighten;
  }
  &__button {
    position: absolute;
    transition-duration: 2000ms;
    top: 45px;
    left: 40%;
    z-index: 10;
    border-radius: 20px;
    background-color: variables.$color-accent;
    color: #fff4f1;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    &:hover{
      background-color: #fff4f1;
      color: variables.$color-accent;
    }
  }

}

.film-group {
  .container {
    display: flex;
    overflow: hidden;
    position: relative;
    width: auto;
    background-color: variables.$color-dark-bg;
    scroll-margin: 0;
    margin: 0;
    padding: 0;
    .arrow {
      position: sticky;
      width: variables.$arrow-width;
      line-height: 300px;
      height: 300px;
      background-color: #ffffff77;
      color: variables.$color-dark-bg;
      font-size: 5em;
      z-index: 25;
      user-select: none;
      transition-duration: 800ms;
      &__left{
        left: 0;
      }
      &__right{
        right: 0;
      }
      &:hover{
        background-color: variables.$color-dark-bg;
        color: variables.$color-accent;
      }
    }
    .film-container {
      overflow: hidden;
      display: inline-flex;
      width: variables.$movie-card-width*7+variables.$arrow-width;
      margin: 0;
      padding: 0;
      flex-shrink: 0;

      &__movie-card {
        z-index: 9;
        position: relative;
        width: variables.$movie-card-width;
        height: variables.$movie-card-height;
      }

      &__movie-pic {
        z-index: 11;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: variables.$movie-card-height*2/3;
        margin: auto;
      }

      &__movie-back {
        z-index: -1;
        position: absolute;
        width: variables.$movie-card-width;
        height: variables.$movie-card-height;
        top: 0;
        left: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
      }

      &__movie-title {
        position: absolute;
        z-index: 11;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;
        width: variables.$movie-card-width*4/5;
        height: auto;
        background-color: variables.$color-dark-bg;
        color: variables.$color-light;
        text-align: center;
        line-height: 1.5rem;
        overflow: visible;
        margin: auto;
      }
    }
  }

}

#modal {
  position: fixed;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30vw;
  min-width: 75vw;
  max-height: 30vh;
  min-height: 90vh;
  background-color: #2f2f2f;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  z-index: 50;
  overflow: scroll;
  .modal__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    .modal-movie_title{
      grid-column: 1/3;
      line-height: 20px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
    .img{
      grid-column: 1;
      img {
        width: 80%;
        margin: 10%;
      }
    }
    &__movie-info {
      grid-column: 1;
      column-count: 2;
    }
  }

  .close-btn{
    z-index: 51;
    margin: 5px;
    width: 40px;
    height: 40px;
    position: sticky;
    line-height: 40px;
    text-align: center;
    background-color: variables.$color-dark-bg;
    color: variables.$color-light;
    border-radius: 50%;
    top: 0;
    right: 0;
    &:hover{
      background-color: variables.$color-light;
      color: variables.$color-dark-bg;
    }
  }
}