@use 'variables';


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


html {
  background-color: variables.$color-dark-bg;
}

body {
  background-color: variables.$color-dark-bg;
  color: variables.$color-accent;
  max-width: variables.$body-max-width;
  width: variables.$body-resp-width;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

@use 'header';
@use 'best_movie_pres';
@use 'movie_sections';
@use 'modal';



